extends layout


block layout-content-actions
    div
        form(action = "/", method = "POST")
            div
                select(name = "active_turtle")
                    each turtle in turtles 
                        option(value=turtle) #{turtle}
            div
            input(name = "custom_function" value = "" type='eval')
            
            div
            button(name = "function" value = "turtle.turnLeft()" ) Turn Left
            div
            button(name = "function" value = "turtle.turnRight()" ) Turn right
            div
            button(name = "function" value = "turtle.forward()" ) Forward
            div
            button(name = "function" value = "turtle.back()" ) Back 
            div
            button(name = "function" value = "turtle.up()" ) Up
            div
            button(name = "function" value = "turtle.down()" ) Down
            div
            button(name = "function" value = "turtle.dig()" ) Dig
            div
            button(name = "function" value = "turtle.digUp()" ) Dig Up
            div
            button(name = "function" value = "turtle.digDown()" ) Dig Down

            br
            button(type = "submit") Send Instructions
       